* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    box-sizing: border-box;
    background-color: #f3f4f6;
}
.container {
    display: grid;
    grid-template-rows: 10vh 1fr;
}
.top {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
}



.books {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 40px;
    justify-content: center;
    align-content: space-evenly;
    margin: 10px 150px;
    
}

.book {

    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow:  2px 2px 2px #e5e7eb;
    margin-bottom: 40px;
    
}

.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}



.btn button {
    width: 200px;
    height: 40px
}

.btn {
    padding: 5px 1rem;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid black;
}

#addBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 40vw;
    gap: 15px;
    position: fixed;
    background-color: #d1d5db;
    padding: 1rem 2rem;
    width: 20vw;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 1000;

    display: none; 
}

#addBook h2 {
    margin-bottom: 10px;
}
#addBook input {
    margin-bottom: 10px;
}
#addBook input[type="submit"] {
    width: 6rem;
    border-radius: 10px;
}

#addBook input[type="text"], #addBook input[type="number"] {
    border-radius: 10px;
    border: 1px solid black;
    width: 12rem;
    height: 2rem;
    padding: 4px;
}

#addBook input[type="submit"] {
    width: 5rem;
    padding: 5px;
    border: 1px solid black;
    margin-right: 10px;
}

#addBook input[type="checkbox"] {
    margin-left: 10px;
}
.overlay {
    position:fixed;
    z-index:999;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5)
}

